*{
    margin : 0;
    padding: 0;
}

body{
    background-color: rgb(52, 52, 69);
}

h1{
    color : white;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
}

#sorting-bars{
    max-width: 80%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
}

/* .bars-generated{
    width:100px;
    background-color: rgb(210, 235, 89);
    margin : 2px;
}  */

.parameters-text{
    color: white;
    margin-left: 15px;
    margin-right: 5px;
}

#sorting-bars .bars {
    width: 100px;
    background: #ffd000;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease;
  }